aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
anyio==4.8.0
attrs==25.1.0
beautifulsoup4==4.13.3   
bs4==0.0.2
certifi==2025.1.31       
charset-normalizer==3.4.1
frozenlist==1.5.0        
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
multidict==6.1.0
propcache==0.3.0
python-telegram-bot==21.10
requests==2.32.3
sniffio==1.3.1
soupsieve==2.6
telepot==12.7
typing_extensions==4.12.2
urllib3==2.3.0
yarl==1.18.3